<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Categories</h3>
        </div>
        <div style="min-height: 50vh;" class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Number of products</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let category of categories; let i = index">
                <th scope="row">
                  <div class="media align-items-center">
                    <!-- <a href="javascript:void(0)" class="avatar rounded-circle mr-3">
                      <img class="img-responsive" alt="Image placeholder" src="../assets/img/theme/product.png">
                    </a> -->
                    <div class="media-body">
                      <span class="mb-0 text-sm">{{category.category}}</span>
                    </div>
                  </div>
                </th>
                <td>
                  <span class="badge badge-dot mr-4">
                    {{category.numberOfProducts}}
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        
      </div>
    </div>
  </div>
  
</div>
