<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-12 mb-5">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-muted ls-1 mb-1">Overview</h6>
              <h2 class="text-dark mb-0">Categories value</h2>
            </div>
          </div>
        </div>
        <div class="card-body">
          <!-- Chart -->
          <div class="chart">
            <!-- Chart wrapper -->
            <canvas id="polar-chart" class="chart-canvas"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Categories</h3>
        </div>
        <div style="min-height: 50vh;" class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Number of products</th>
              </tr>
            </thead>
            <tbody>
              <ng-template [ngIf]="categories.length>0">
                <tr *ngFor="let category of categories; let i = index">
                  <th scope="row">
                    <div class="media align-items-center">
                      <div class="media-body">
                        <span class="mb-0 text-sm">{{category.category}}</span>
                      </div>
                    </div>
                  </th>
                  <td>
                    <span class="badge badge-dot mr-4">
                      {{category.numberOfProducts}}
                    </span>
                  </td>
                </tr>
              </ng-template>

              <ng-template [ngIf]="categories.length<=0 && !isLoading">
                <tr>
                  <td colspan="2">No results found</td>
                </tr>
              </ng-template>
            </tbody>
          </table>
          <ng-template [ngIf]="isLoading">
            <div class=" row d-flex justify-content-center mt-3 mb-3">
              <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
          </ng-template>
        </div>
        
      </div>
    </div>
  </div>
  
</div>
