<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Products</h3>
        </div>
        <div style="min-height: 50vh;" class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Category</th>
                <th scope="col">Price</th>
                <th scope="col">Employees</th>
                <th scope="col">Description</th>
                <th scope="col">Reviews</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of products; let i = index">
                <th scope="row">
                  <div class="media align-items-center">
                    <!-- <a href="javascript:void(0)" class="avatar rounded-circle mr-3">
                      <img alt="Image placeholder" src="../assets/img/theme/store.png">
                    </a> -->
                    <div class="media-body">
                      <span class="mb-0 text-sm">{{product.data.title}}</span>
                    </div>
                  </div>
                </th>
                <td>
                  {{product.data.category}}
                </td>
                <td>
                  {{product.data.price}}
                  <!-- <span class="badge badge-dot mr-4">
                    <i class="bg-warning"></i> {{product.data.employees}}
                  </span> -->
                </td>
                <td>
                  {{product.data.employee}}
                </td>
                <td>
                  {{product.data.description}}
                </td>
                <td>
                  {{product.data.reviews}}
                </td>
                <td class="text-right">
                  <div ngbDropdown placement="bottom-right">
                    <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle>
                      <i class="fas fa-ellipsis-v"></i>
                    </a>
                    <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                      <a class="dropdown-item" (click)="open(content)" href="javascript:void(0)" data-toggle="modal" data-target="#exampleModal">Delete</a>
                      <a class="dropdown-item" href="javascript:void(0)">Another action</a>
                      <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
                    </div>
                  </div>
                </td>
              </tr>
              
            </tbody>
          </table>
        </div>
        
      </div>
    </div>
  </div>

</div>

<!-- <ng-template #content let-modal>
	<div class="modal-header">
    <h4 class="modal-title" id="modal-title">Profile deletion</h4>
    <button
      type="button"
      class="btn-close"
      aria-describedby="modal-title"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <p>
      <strong>Are you sure you want to delete <span class="text-primary">"John Doe"</span> profile?</strong>
    </p>
    <p>
      All information associated to this user profile will be permanently deleted.
      <span class="text-danger">This operation can not be undone.</span>
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
    <button type="button" class="btn btn-danger" (click)="modal.close('Ok click')">Ok</button>
  </div>
</ng-template>

<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button> -->

