<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">

        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Products</h3>
            </div>
            <div class="col text-right">
              <a href="javascript:void(0)" (click)="open(content, 'new', null)" class="btn btn-sm btn-primary">Add product</a>
            </div>
          </div>
        </div>
        

        <div class="table-responsive"
          class="search-results"
          infiniteScroll
          [infiniteScrollDistance]="2"
          [infiniteScrollThrottle]="50"
          [infiniteScrollDistance]="2"
          (scrolled)="onScrollDown()"
          (scrolledUp)="onScrollUp()"
          [scrollWindow]="false"
        >

          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Category</th>
                <th scope="col">Price</th>
                <th scope="col">Employees</th>
                <th scope="col">Description</th>
                <th scope="col"># Reviews</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <ng-template [ngIf]="products.length>0">
                <tr *ngFor="let product of products; let i = index;">
                  <th scope="row">
                    <div class="media align-items-center">
                      <div class="media-body">
                        <span class="mb-0 text-sm">{{product.data.title | slice:0:20}}</span>
                      </div>
                    </div>
                  </th>
                  <td>
                    {{product.data.category | slice:0:20}}
                  </td>
                  <td>
                    {{product.data.price}}
                  </td>
                  <td>
                    {{product.data.employee | slice:0:20}}
                  </td>
                  <td>
                    {{product.data.description | slice:0:20}}
                  </td>
                  <td>
                    {{product.data.reviews?.length}}
                  </td>
                  <td class="text-right">
                    <div ngbDropdown placement="bottom-right">
                      <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle>
                        <i class="fas fa-ellipsis-v"></i>
                      </a>
                      <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                        <a class="dropdown-item" (click)="open(content, 'delete', product)" href="javascript:void(0)" data-toggle="modal" data-target="#exampleModal">Delete</a>
                        <a class="dropdown-item" (click)="open(content, 'view', product)" href="javascript:void(0)" data-toggle="modal" data-target="#exampleModal">Details</a>
                      </div>
                    </div>
                  </td>
                </tr>
              </ng-template>
              <ng-template [ngIf]="products.length<=0 && !isLoading">
                <tr>
                  <td colspan="7">No results found</td>
                </tr>
              </ng-template>
              <ng-template [ngIf]="products.length<=0 && isLoading">
                <tr>
                  <td colspan="7">Loading...
                </tr>
              </ng-template>
            </tbody>
          </table> 
        </div>
              
        <div class="card-footer py-4">
          <nav aria-label="...">
            <ul class="pagination justify-content-end mb-0">
              <li class="page-item active">
                Total products {{totProducts}}
              </li>
            </ul>
          </nav>
        </div>
        
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <ng-template [ngIf]="mode=='delete'" [ngIfElse]="elseBlockDialog">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-title">Delete product</h4>
      <button
        #closebutton
        type="button"
        class="btn-close"
        aria-describedby="modal-title"
        data-dismiss="modal"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>
    <div class="modal-body">
      <p>
        <strong>Are you sure you want to delete <span class="text-primary">"{{selectedProduct.data.title}}"</span> product?</strong>
      </p>
      <p>
        All information associated to this user profile will be permanently deleted.
        <span class="text-danger">This operation can not be undone.</span>
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
      <!-- <button type="button" class="btn btn-danger" (click)="modal.close('Ok click')">Ok</button> -->
      <button #closebutton type="button" class="btn btn-danger" (click)="deleteProduct('Ok click', selectedProduct)">Ok</button>
    </div>
  </ng-template>
	
  <ng-template #elseBlockDialog>
    <div class="pt-3 pb-3 col-xl-12 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-12">
              <h3 class="mb-0">Product</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form [formGroup]="formGroup">
            <h6 class="heading-small text-muted mb-4">Product information</h6>
            <div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-title">Title<span class="required-asterisk">*</span></label>
                    <input formControlName="title" ng-required="hasTrailer" type="text" id="input-title" class="form-control form-control-alternative" placeholder="Title">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-category">Category<span class="required-asterisk">*</span></label>
                    <input type="text" formControlName="category" id="input-category" class="form-control form-control-alternative" placeholder="Category">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-price">Price<span class="required-asterisk">*</span></label>
                    <input type="number" formControlName="price" id="input-price" class="form-control form-control-alternative" placeholder="Price">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-employee">Employee</label>
                    <input type="text" formControlName="employee" id="input-employee" class="form-control form-control-alternative" placeholder="Employee">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-description">Description</label>
                    <textarea formControlName="description" id="input-description" rows="4" class="form-control form-control-alternative" placeholder="A few words about product ..."></textarea>
                  </div>
                </div>
              </div>
            </div>
            <h6 class="heading-small text-muted mb-4">Reviews Manager</h6>
            <div>
              <div class="row">
                <div class="col-md-12">
                  <ng-container *ngIf="this.mode=='new'">
                    <div class="form-group">
                      <label class="form-control-label" for="input-review">Add review</label>
                      <textarea id="input-review" #reviewInput rows="4" class="form-control form-control-alternative" placeholder="Reviews" value=""></textarea>
                    </div>
                    <div class="col text-right pb-3">
                      <a href="javascript:void(0)" (click)="addReview(reviewInput.value)" class="btn btn-sm btn-primary">Add review</a>
                    </div>
                  </ng-container>
                  
                  <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                      <tr >
                        <th scope="col">Other reviews</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <ng-template [ngIf]="formGroup.value.reviews.length>0" [ngIfElse]="elseBlockRiviews">
                        <tr *ngFor="let review of formGroup.value.reviews; let i = index;">
                          <td><p class="wrapbox auto">{{review}}</p></td>
                          <td class="text-right" *ngIf="this.mode=='new'">
                            <div ngbDropdown placement="bottom-right">
                              <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle>
                                <i class="fas fa-ellipsis-v"></i>
                              </a>
                              <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                                <a class="dropdown-item" (click)="deleteReview(i)" href="javascript:void(0)" data-toggle="modal" data-target="#exampleModal">Delete</a>
                              </div>
                            </div>
                          </td>
                        </tr>
                      </ng-template>
                      
                      <ng-template #elseBlockRiviews>
                        <tr>
                          <td colspan="2">No results found</td>
                        </tr>
                      </ng-template>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
        <!-- <button type="button" class="btn btn-danger" (click)="modal.close('Ok click')">Ok</button> -->
        <button *ngIf="this.mode=='new'" type="button" class="btn btn-primary" (click)="saveProduct('Ok click')">Save</button>
      </div>
    </div>
  </ng-template>

</ng-template>

<!-- Toaster -->
<app-toaster></app-toaster>
